[Unit]
Description=ttyd for zrancid devices
After=syslog.target
After=network.target

[Service]
Type=exec
# check user/group ttyd is run as
ExecStartPre=/bin/grep -q ^zrancid-ttyd: /etc/passwd
ExecStartPre=/bin/grep -q ^zrancid-ttyd: /etc/group
# prevent infinite error log loop when httpd is not installed
ExecStartPre=/bin/grep -q ^apache: /etc/group
ExecStart=/bin/sh -c 'exec /usr/bin/ttyd -i /run/zrancid-ttyd/zrancid-ttyd.sock -u $(id -u zrancid-ttyd) -g $(id -g zrancid-ttyd) -U zrancid-ttyd:apache -W -b / -H X-Remote-User -t disableReconnect=true -a /usr/share/zrancid-ttyd/zrancid-ttyd-handler'
Restart=always
SyslogIdentifier=zrancid-ttyd

[Install]
WantedBy=multi-user.target
